<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*THE*START*OF*FILE*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->

@{
    ViewData["Title"] = "Home Page";
}
<div class="HomePage-container">
    <img src="/css/HomePage.png" alt="CMCS-HOMEPAGEIMAGE" />
</div>

<style>
    .HomePage-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden; 
    }

    
    .HomePage-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; 
    }
</style>

<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*THE*END*OF*FILE*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->