<!-- creating form-->
<div class="login-container">

	<img src="~/css/LOGIN.IMAGE.jpg" alt="ContractMonthlyClaimImage" class="login-logo" />

	<form asp-controller="Login" asp-action="UserLogin" method="post">
		<!--This is connected to the http post in the logincontroller--><p>

		<p>
			<strong>
				Log in to Contract Monthly Claim System!
			</strong>
		</p>

		<!-- Allowing the user to login with their previously created email and password-->
		<input type="text" name="Name" class="form-control" placeholder="Name" required>
		<input type="text" name="Email" class="form-control" placeholder="Example@gmail.com" required>
		<input type="password" name="Password" class="form-control" placeholder="Password" required>

		<button type="login" class="login-btn"> Log in </button>
	</form>
</div>

<style>
	.login-container {
		max-width: 500px;
		margin: 50px auto;
		padding: 20px;
		border: 1px solid #ddd;
		border-radius: 8px;
		background-color: #f9f9f9;
		text-align: center;
		font-family: 'Century Gothic', sans-serif;
		color: dimgray;
	}

	.login-logo {
		width: 450px;
		height: 350px;
		margin-bottom: 20px;
	}

	.form-control {
		width: 100%;
		margin-bottom: 20px;
	}

	.login-btn {
		width: 100%;
		background-color: white;
		font-family: 'Century Gothic', sans-serif;
		font-weight: bold;
		color: dimgrey;
		border: none;
		padding: 10px;
	}

	/* adding in hover effects for the login button*/
	.login-btn:hover {
		background-color: darkorange;
		border-color: white;
		color: white; /* text colour */
	}
</style>

