<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*THE*START*OF*FILE*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
@{
    ViewData["Title"] = "Submit a Claim";
}

<!--ADDING IN CANVA DESIGN I CREATED FOR THE HEADINGS-->
<img src="~/css/SubmitClaim.png" alt="SubmitClaimImage" style="width: 100%; height: auto;">

<div class="submitClaim-container">

    <!-- form to submit a claim -->
    <form>

         <!-- creating input for lectures first name-->
        <div class="form-group">
            <label for="lecturesFirstName">Name</label>
            <input type="text" class="form-control" id="FirstName" placeholder="Enter First Name"/>
        </div>

        <!-- creating input for lectures surname-->
        <div class="form-group">
            <label for="lecturesSurname">Surname</label>
            <input type="text" class="form-control" id="Surname" placeholder="Enter Surname"/>
        </div>

        <!-- creating input for hours worked-->
        <div class="form-group">
            <label for="HoursWorked">Hours Worked</label>
            <input type="number" class="form-control" id="HoursWorked" placeholder="Enter Hours Worked"/>
        </div>

        <!-- creating input for hourly rate-->
        <div class="form-group">
            <label for="HourlyRate">Hourly Rate</label>
            <input type="number" class="form-control" id="HourlyRate" placeholder="Enter your Hourly Rate"/>
        </div>

        <!-- creating input for month by allowing the user to enter a date period to claim from-->
        <div class="form-group">
            <label for="ClaimStartDate"> Select a Claim Period - From</label>
            <input type="date" class="form-control" id="ClaimStartDate" placeholder="yyyy/mm/dd" />
        </div>

        <div class="form-group">
            <label for="ClaimEndDate"> Select a Claim Period - To</label>
            <input type="date" class="form-control" id="ClaimEndDate" placeholder="yyyy/mm/dd" />
        </div>

        <div class="form-group">
            <label for="Notes"> Additional Notes</label>
            <textarea class="form-control" id="Notes" rows="3" placeholder="Enter any additional notes here..."></textarea> 
        </div>

        <div class="form-group">
            <label for="SupportingDocument">Upload Supporting Documents</label>
            <input type="file" class="form-control-file" id="SupportingDocument"/>
        </div>

        <!--creating a button to submit the claim-->
        <button type="submit" class="submit-btn" disabled>Submit Claim</button>
    </form>

</div>

<style>

    /* adding in container design */
    .submitClaim-container {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-weight: bold;
        background-color: lightgray;
        text-align: left;
    }

    /* form control design and text design */
    .form-control{
        width: 100%;
        color: white;
        margin-bottom: 20px;
        font-family: 'Century Gothic', sans-serif;
    }

    /* adding in design for the add profile button  */
    .submit-btn{
        width: 100%;
        background-color: white;
        color: darkorange; /*text colour*/
        border: 2px solid darkorange;
        padding: 10px;
        font-family: 'Century Gothic', sans-serif;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    /* adding in hover effects for the add profile button*/
    .submit-btn:hover{
        background-color: darkorange;
        border-color:white;
        color: white; /* text colour */
    }

</style>


<!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*THE*END*OF*FILE*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->